// styles for main quiz page
/* Cairo font import */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Roboto+Mono&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

// variables
$orange: #F57A26;
$orangeHover: #fc924c;
$darkBg: rgba(34, 34, 34, 0.87);

* {
   margin: 0;
   padding: 0;
   font-family: Cairo, sans-serif;
   color: white;
}

body {
   background: rgb(0, 26, 117);
   background: linear-gradient(320deg, rgba(0, 26, 117, 1) 0%, rgba(48, 132, 255, 1) 100%) no-repeat;
   height: 100vh;
   overflow: hidden;
}

// logo navbar
header {
   height: 7vh; // 7% height
   background-color: #253956;
   display: flex;
   justify-content: center;

   img { // logo
      height: 90%;
      margin-top: 3px;
   }
}

main {
   max-width: 1000px;
   display: flex;
   flex-direction: column;
   margin: auto;
}

section#top {
   margin: 30px 10px;
   
   display: flex;
   justify-content: space-around;

   #score {
      font-weight: bold;
      font-size: 20px;
   }
   
   .scoreCount {
      color: $orange;
   }
   // next question button
   #next { 
      background-color: $orange;
      padding: 5px 30px;
      border-radius: 25px;
      border: none;
      font-weight: 700;
      font-size: 18px;
      transition: background-color .1s;
      opacity: .5;
      cursor: not-allowed;
      
      &:hover {
         background-color: $orangeHover;
      }
      
      // toggle this class in script
      &.active {
         cursor: pointer;
         opacity: 1;
      }
      &.hidden {
         opacity: 0;
      }
   }
}

section#quiz {

   #questionWrap {
      min-height: 100px;
      background-color: $darkBg;
      padding: 0 10px;
      border-radius: 20px;
      margin: 0 5px;
      h2 {
         text-align: center;
         font-weight: 600;
      }
      
      p {
         text-align: center;
         font-size: 20px;
      }
   }

   // answers box 
   #answersBox {
      box-sizing: border-box;
      margin: 20px 0px ;
      padding: 20px ;
      border-radius: 20px;
      background-color: $darkBg;
      width: 100%;
      // flex
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
      button.answerBtn {
         border: 2px solid $orange ;
         width: 330px;
         padding: 5px 0;
         margin: 10px 0; 
         background-color: $darkBg;
         border-radius: 10px;
         cursor: pointer;
         
         &:hover {
            border: 2px solid royalblue;
            background-color: rgb(41, 41, 41);
         }
         
         //===============
         // classes for dynamic button styles
         &.correct {
            background-color: #047200;
         }

         &.wrong {
            background-color: rgb(112, 0, 0);
         }
      }
   }
}



// footer style
footer {
   color: rgba(201, 201, 201, 0.781);
   display: flex;
   width: 100%;
   justify-content: center;
   position: absolute;
   bottom: 5px;
   font-size: 12px;
}

// github link
footer a {
   margin: 0 20px;
   text-decoration: none;
   color: rgb(201, 201, 201);
}

footer a:hover {
   text-decoration: underline;
}





// for lanscape oriented smaller devices
@media screen and (orientation: landscape) and (max-width: 900px) {
   
   section#top {
      margin: 10px;
   }
   
   section#questionWrap {
      margin: 0;
      h2 {
         font-size: 18px;
      }

      p {
         font-size: 16px;
      }
   }

   div#answersBox {
      .answerBtn {
         width: 220px;
      }
   }

   footer {
      display: none;
   }
}